IntegrationLayer/Resources/sp-schema/Adresse/AdresseService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AdresseService"
				  targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/Organisation/Adresse/1/"
                  xmlns:tns="http://serviceplatformen.dk/xml/wsdl/soap11/Organisation/Adresse/1/"
                  xmlns:spf="http://serviceplatformen.dk/xml/schemas/ServiceplatformFault/1/"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsa="http://www.w3.org/2005/08/addressing"
                  xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                  xmlns:wsp="http://www.w3.org/ns/ws-policy">

  <!-- Draft of Organisation/Adresse serviceintegration for the Service Platform, May 2015 -->

  <wsdl:types>
    <xsd:schema targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/Organisation/Adresse/1/">
      <xsd:include schemaLocation="AdresseServiceMsg.xsd"/>
      <xsd:import namespace="http://serviceplatformen.dk/xml/schemas/ServiceplatformFault/1/"
                  schemaLocation="ServiceplatformFault_1.xsd"/>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="AdresseImporterRequestMessage">
    <wsdl:part name="request" element="tns:AdresseImporterRequest"/>
  </wsdl:message>
  <wsdl:message name="AdresseImporterResponseMessage">
    <wsdl:part name="response" element="tns:AdresseImporterResponse"/>
  </wsdl:message>
  <wsdl:message name="AdresseListeRequestMessage">
    <wsdl:part name="request" element="tns:AdresseListeRequest"/>
  </wsdl:message>
  <wsdl:message name="AdresseListeResponseMessage">
    <wsdl:part name="response" element="tns:AdresseListeResponse"/>
  </wsdl:message>
  <wsdl:message name="AdresseLaesRequestMessage">
    <wsdl:part name="request" element="tns:AdresseLaesRequest"/>
  </wsdl:message>
  <wsdl:message name="AdresseLaesResponseMessage">
    <wsdl:part name="response" element="tns:AdresseLaesResponse"/>
  </wsdl:message>
  <wsdl:message name="AdresseOpretRequestMessage">
    <wsdl:part name="request" element="tns:AdresseOpretRequest"/>
  </wsdl:message>
  <wsdl:message name="AdresseOpretResponseMessage">
    <wsdl:part name="response" element="tns:AdresseOpretResponse"/>
  </wsdl:message>
  <wsdl:message name="AdressePassiverRequestMessage">
    <wsdl:part name="request" element="tns:AdressePassiverRequest"/>
  </wsdl:message>
  <wsdl:message name="AdressePassiverResponseMessage">
    <wsdl:part name="response" element="tns:AdressePassiverResponse"/>
  </wsdl:message>
  <wsdl:message name="AdresseRetRequestMessage">
    <wsdl:part name="request" element="tns:AdresseRetRequest"/>
  </wsdl:message>
  <wsdl:message name="AdresseRetResponseMessage">
    <wsdl:part name="response" element="tns:AdresseRetResponse"/>
  </wsdl:message>
  <wsdl:message name="AdresseSletRequestMessage">
    <wsdl:part name="request" element="tns:AdresseSletRequest"/>
  </wsdl:message>
  <wsdl:message name="AdresseSletResponseMessage">
    <wsdl:part name="response" element="tns:AdresseSletResponse"/>
  </wsdl:message>
  <wsdl:message name="AdresseSoegRequestMessage">
    <wsdl:part name="request" element="tns:AdresseSoegRequest"/>
  </wsdl:message>
  <wsdl:message name="AdresseSoegResponseMessage">
    <wsdl:part name="response" element="tns:AdresseSoegResponse"/>
  </wsdl:message>
  <wsdl:message name="ServiceplatformFault">
    <wsdl:part name="error" element="spf:ServiceplatformFault"/>
  </wsdl:message>

  <wsdl:portType name="AdressePortType">
    <wsdl:operation name="opret">
      <wsdl:input message="tns:AdresseOpretRequestMessage"/>
      <wsdl:output message="tns:AdresseOpretResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="importer">
      <wsdl:input message="tns:AdresseImporterRequestMessage"/>
      <wsdl:output message="tns:AdresseImporterResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="passiver">
      <wsdl:input message="tns:AdressePassiverRequestMessage"/>
      <wsdl:output message="tns:AdressePassiverResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="laes">
      <wsdl:input message="tns:AdresseLaesRequestMessage"/>
      <wsdl:output message="tns:AdresseLaesResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="ret">
      <wsdl:input message="tns:AdresseRetRequestMessage"/>
      <wsdl:output message="tns:AdresseRetResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="slet">
      <wsdl:input message="tns:AdresseSletRequestMessage"/>
      <wsdl:output message="tns:AdresseSletResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="soeg">
      <wsdl:input message="tns:AdresseSoegRequestMessage"/>
      <wsdl:output message="tns:AdresseSoegResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="list">
      <wsdl:input message="tns:AdresseListeRequestMessage"/>
      <wsdl:output message="tns:AdresseListeResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="Adresse" type="tns:AdressePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="opret">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/adresse/opret"/>
      <wsdl:input>
        <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="importer">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/adresse/importer"/>
      <wsdl:input>
        <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="passiver">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/adresse/passiver"/>
      <wsdl:input>
        <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="laes">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/adresse/laes"/>
      <wsdl:input>
        <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="ret">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/adresse/ret"/>
      <wsdl:input>
        <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="slet">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/adresse/slet"/>
      <wsdl:input>
        <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="soeg">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/adresse/soeg"/>
      <wsdl:input>
        <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="list">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/adresse/list"/>
      <wsdl:input>
        <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <!-- Input policy for signing input -->
  <wsp:Policy wsu:Id="Input_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SignedParts>
          <sp:Body/>
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="Framework" Namespace="urn:liberty:sb"/>
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <!-- KOMBIT SAML policy -->
  <wsp:Policy wsu:Id="STS_SAML_Token_policy">
    <sp:SignedSupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
      <wsp:Policy wsp:Optional="false">
        <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
          <!-- TODO Nedenstående Issuer address er pt. ikke rigtig idet STS endpoint ikke kendt-->
          <sp:Issuer>
            <wsa:Address>https://url-til-sts</wsa:Address>
          </sp:Issuer>
          <sp:RequestSecurityTokenTemplate>
            <trust:TokenType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">urn:oasis:names:tc:SAML:2.0:assertion</trust:TokenType>
          </sp:RequestSecurityTokenTemplate>
        </sp:IssuedToken>
        <sp:IncludeTimestamp/>
        <sp:ProtectTokens />
        <sp:OnlySignEntireHeadersAndBody/>
      </wsp:Policy>
    </sp:SignedSupportingTokens>
  </wsp:Policy>
  <!-- TLS policy for communicating with SP -->
  <wsp:Policy wsu:Id="TLS_policy">
    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
      <wsp:Policy>
        <sp:TransportToken>
          <wsp:Policy>
            <sp:HttpsToken RequireClientCertificate="true"/>
          </wsp:Policy>
        </sp:TransportToken>
      </wsp:Policy>
    </sp:TransportBinding>
  </wsp:Policy>

  <wsdl:service name="Adresse">
    <wsdl:port name="Adresse" binding="tns:Adresse">
      <soap:address location="http://localhost:8080/service/Organisation/Adresse/1"/>
      <wsp:PolicyReference URI="#STS_SAML_Token_policy"/>
      <wsp:PolicyReference URI="#TLS_policy"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
