IntegrationLayer/Resources/sp-v4/OrganisationEnhed/SF1500_EP_FS6/OrganisationEnhed.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        name="OrganisationEnhedService"
        targetNamespace="urn:oio:sts:organisation:wsdl:1.1.2.0"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="urn:oio:sts:organisation:wsdl:1.1.2.0"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
        xmlns:org="urn:oio:sts:organisation:organisationenhed:1.1.2.0"
        xmlns:header="http://kombit.dk/xml/schemas/RequestHeader/1/">

    <wsp:Policy wsu:Id="ServiceplatformBindingPolicy">
        <wsp:All>
            <wsam:Addressing wsp:Optional="false">
                <wsp:Policy/>
            </wsam:Addressing>
            <sp:SignedParts>
                <sp:Body/>
                <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                <sp:Header Name="Framework" Namespace="urn:liberty:sb:2006-08"/>
            </sp:SignedParts>
            <sp:AsymmetricBinding>
                <wsp:Policy>
                    <sp:InitiatorToken>
                        <wsp:Policy>
                            <sp:SamlToken
                                    sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                                <wsp:Policy>
                                    <sp:WssSamlV20Token11/>
                                </wsp:Policy>
                            </sp:SamlToken>
                        </wsp:Policy>
                    </sp:InitiatorToken>
                    <sp:RecipientToken>
                        <wsp:Policy>
                            <sp:X509Token
                                    sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToInitiator">
                                <wsp:Policy>
                                    <sp:WssX509V3Token10/>
                                </wsp:Policy>
                            </sp:X509Token>
                        </wsp:Policy>
                    </sp:RecipientToken>
                    <sp:AlgorithmSuite>
                        <wsp:Policy>
                            <sp:Basic256Sha256/>
                        </wsp:Policy>
                    </sp:AlgorithmSuite>
                    <sp:Layout>
                        <wsp:Policy>
                            <sp:Strict/>
                        </wsp:Policy>
                    </sp:Layout>
                    <sp:ProtectTokens/>
                    <sp:IncludeTimestamp/>
                    <sp:OnlySignEntireHeadersAndBody/>
                </wsp:Policy>
            </sp:AsymmetricBinding>
            <sp:SignedSupportingTokens>
                <wsp:Policy>
                    <sp:IssuedToken
                            sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                        <sp:RequestSecurityTokenTemplate/>
                        <wsp:Policy>
                            <sp:WssSamlV20Token11/>
                        </wsp:Policy>
                    </sp:IssuedToken>
                </wsp:Policy>
            </sp:SignedSupportingTokens>
        </wsp:All>
    </wsp:Policy>

    <!--<wsp:Policy wsu:Id="ServicePortBindingPolicy">-->
    <!--<wsp:ExactlyOne>-->
    <!--<wsp:All>-->
    <!--<sp:AsymmetricBinding>-->
    <!--<wsp:Policy>-->
    <!--<sp:InitiatorToken>-->
    <!--<wsp:Policy>-->
    <!--<sp:IssuedToken-->
    <!--sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">-->
    <!--<sp:RequestSecurityTokenTemplate>-->
    <!--</sp:RequestSecurityTokenTemplate>-->
    <!--<wsp:Policy>-->
    <!--<sp:RequireInternalReference/>-->
    <!--</wsp:Policy>-->
    <!--</sp:IssuedToken>-->
    <!--</wsp:Policy>-->
    <!--</sp:InitiatorToken>-->
    <!--<sp:RecipientToken>-->
    <!--<wsp:Policy>-->
    <!--<sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">-->
    <!--<wsp:Policy>-->
    <!--<sp:WssX509V3Token10/>-->
    <!--<sp:RequireIssuerSerialReference/>-->
    <!--</wsp:Policy>-->
    <!--</sp:X509Token>-->
    <!--</wsp:Policy>-->
    <!--</sp:RecipientToken>-->
    <!--<sp:Layout>-->
    <!--<wsp:Policy>-->
    <!--<sp:Lax/>-->
    <!--</wsp:Policy>-->
    <!--</sp:Layout>-->
    <!--<sp:IncludeTimestamp/>-->
    <!--<sp:ProtectTokens/>-->
    <!--<sp:OnlySignEntireHeadersAndBody/>-->
    <!--<sp:AlgorithmSuite>-->
    <!--<wsp:Policy>-->
    <!--<sp:Basic256/>-->
    <!--</wsp:Policy>-->
    <!--</sp:AlgorithmSuite>-->
    <!--</wsp:Policy>-->
    <!--</sp:AsymmetricBinding>-->
    <!--<sp:Wss10 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">-->
    <!--<wsp:Policy>-->
    <!--<sp:MustSupportRefKeyIdentifier/>-->
    <!--<sp:MustSupportRefIssuerSerial/>-->
    <!--</wsp:Policy>-->
    <!--</sp:Wss10>-->
    <!--<sp:Trust13 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">-->
    <!--<wsp:Policy>-->
    <!--<sp:MustSupportIssuedTokens/>-->
    <!--<sp:RequireClientEntropy/>-->
    <!--<sp:RequireServerEntropy/>-->
    <!--</wsp:Policy>-->
    <!--</sp:Trust13>-->
    <!--</wsp:All>-->
    <!--</wsp:ExactlyOne>-->
    <!--</wsp:Policy>-->
    <!--<wsp:Policy wsu:Id="ServicePortBinding_ping_Input_Policy">-->
    <!--<wsp:ExactlyOne>-->
    <!--<wsp:All>-->
    <!--<sp:SignedParts>-->
    <!--<sp:Body/>-->
    <!--<sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="AckRequested"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="SequenceAcknowledgement"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="Sequence"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="CreateSequence"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="Framework" Namespace="urn:liberty:sb:2006-08"/>-->
    <!--</sp:SignedParts>-->
    <!--</wsp:All>-->
    <!--</wsp:ExactlyOne>-->
    <!--</wsp:Policy>-->
    <!--<wsp:Policy wsu:Id="ServicePortBinding_ping_Output_Policy">-->
    <!--<wsp:ExactlyOne>-->
    <!--<wsp:All>-->
    <!--<sp:SignedParts>-->
    <!--<sp:Body/>-->
    <!--<sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="AckRequested"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="SequenceAcknowledgement"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="Sequence"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="CreateSequence"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="Framework" Namespace="urn:liberty:sb:2006-08"/>-->
    <!--</sp:SignedParts>-->
    <!--</wsp:All>-->
    <!--</wsp:ExactlyOne>-->
    <!--</wsp:Policy>-->

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:oio:sts:organisation:organisationenhed:1.1.2.0"
                        schemaLocation="xsd/1.1.STS-2/OrganisationEnhedOperationer.xsd"/>
            <xsd:import namespace="urn:oio:sts:organisation:organisationenhed:1.1.2.0"
                        schemaLocation="xsd/1.1.STS-2/OrganisationEnhedBesked.xsd"/>
            <xsd:import namespace="urn:oio:sts:organisation:organisationenhed:1.1.2.0"
                        schemaLocation="xsd/1.1.STS-2/OrganisationEnhed.xsd"/>
            <xsd:import namespace="urn:oio:sts:organisation:1.1.2.0"
                        schemaLocation="xsd/1.1.STS-2/OrganisationFaelles.xsd"/>
            <xsd:import namespace="urn:oio:sts:part:1.1.2.0" schemaLocation="xsd/1.1.STS-2/Part.xsd"/>
            <xsd:import namespace="urn:oio:sts:1.1.2.0" schemaLocation="xsd/1.1.STS-2/GenerelleDefinitioner.xsd"/>
            <xsd:import namespace="urn:oio:sagdok:3.0.0" schemaLocation="xsd/common/SagDokObjekt.xsd"/>
            <xsd:import namespace="http://kombit.dk/xml/schemas/RequestHeader/1/"
                        schemaLocation="xsd/common/RequestHeader.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="OrganisationEnhedOpretRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="org:OpretInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationEnhedOpretResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="org:OpretOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationEnhedRetRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="org:RetInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationEnhedRetResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="org:RetOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationEnhedLaesRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="org:LaesInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationEnhedLaesResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="org:LaesOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationEnhedPassiverRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="org:PassiverInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationEnhedPassiverResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="org:PassiverOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationEnhedListeRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="org:ListInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationEnhedListeResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="org:ListOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationEnhedImporterRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="org:ImportInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationEnhedImporterResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="org:ImportOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationEnhedSletRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="org:SletInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationEnhedSletResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="org:SletOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationEnhedSoegRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="org:SoegInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationEnhedSoegResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="org:SoegOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="OrganisationEnhedPortType">
        <wsdl:operation name="opret">
            <wsdl:input message="tns:OrganisationEnhedOpretRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:OrganisationEnhedOpretResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="importer">
            <wsdl:input message="tns:OrganisationEnhedImporterRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:OrganisationEnhedImporterResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="passiver">
            <wsdl:input message="tns:OrganisationEnhedPassiverRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:OrganisationEnhedPassiverResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="laes">
            <wsdl:input message="tns:OrganisationEnhedLaesRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:OrganisationEnhedLaesResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ret">
            <wsdl:input message="tns:OrganisationEnhedRetRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:OrganisationEnhedRetResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="slet">
            <wsdl:input message="tns:OrganisationEnhedSletRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:OrganisationEnhedSletResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="soeg">
            <wsdl:input message="tns:OrganisationEnhedSoegRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:OrganisationEnhedSoegResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="list">
            <wsdl:input message="tns:OrganisationEnhedListeRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:OrganisationEnhedListeResponseMessage">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OrganisationEnhed" type="tns:OrganisationEnhedPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <!--<wsp:PolicyReference URI="#ServicePortBindingPolicy"/>-->
        <wsdl:operation name="opret">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/organisationenhed/opret"/>
            <wsdl:input>
                <soap:header message="tns:OrganisationEnhedOpretRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:OrganisationEnhedOpretResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="importer">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/organisationenhed/importer"/>
            <wsdl:input>
                <soap:header message="tns:OrganisationEnhedImporterRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:OrganisationEnhedImporterResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="passiver">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/organisationenhed/passiver"/>
            <wsdl:input>
                <soap:header message="tns:OrganisationEnhedPassiverRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:OrganisationEnhedPassiverResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="laes">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/organisationenhed/laes"/>
            <wsdl:input>
                <soap:header message="tns:OrganisationEnhedLaesRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:OrganisationEnhedLaesResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ret">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/organisationenhed/ret"/>
            <wsdl:input>
                <soap:header message="tns:OrganisationEnhedRetRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:OrganisationEnhedRetResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="slet">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/organisationenhed/slet"/>
            <wsdl:input>
                <soap:header message="tns:OrganisationEnhedSletRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:OrganisationEnhedSletResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="soeg">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/organisationenhed/soeg"/>
            <wsdl:input>
                <soap:header message="tns:OrganisationEnhedSoegRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:OrganisationEnhedSoegResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="list">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/organisationenhed/list"/>
            <wsdl:input>
                <soap:header message="tns:OrganisationEnhedListeRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:OrganisationEnhedListeResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OrganisationEnhed">
        <wsp:PolicyReference URI="#ServiceplatformBindingPolicy"/>
        <wsdl:port name="OrganisationEnhed" binding="tns:OrganisationEnhed">
            <soap:address location="http://kombit.dk/sts/organisation/organisationsenhed"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>