IntegrationLayer/Service References/Person/PersonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:spf="http://serviceplatformen.dk/xml/schemas/ServiceplatformFault/1/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:tns="http://serviceplatformen.dk/xml/wsdl/soap11/Organisation/Person/1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="PersonService" targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/Organisation/Person/1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="Input_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SignedParts>
          <sp:Body />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Framework" Namespace="urn:liberty:sb" />
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="STS_SAML_Token_policy">
    <sp:SignedSupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
      <wsp:Policy wsp:Optional="false">
        <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
          <!-- TODO Nedenstående Issuer address er pt. ikke rigtig idet STS endpoint ikke kendt-->
          <sp:Issuer>
            <wsa:Address>https://url-til-sts</wsa:Address>
          </sp:Issuer>
          <sp:RequestSecurityTokenTemplate>
            <trust:TokenType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">urn:oasis:names:tc:SAML:2.0:assertion</trust:TokenType>
          </sp:RequestSecurityTokenTemplate>
        </sp:IssuedToken>
        <sp:IncludeTimestamp />
        <sp:ProtectTokens />
        <sp:OnlySignEntireHeadersAndBody />
      </wsp:Policy>
    </sp:SignedSupportingTokens>
  </wsp:Policy>
  <wsp:Policy wsu:Id="TLS_policy">
    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
      <wsp:Policy>
        <sp:TransportToken>
          <wsp:Policy>
            <sp:HttpsToken RequireClientCertificate="true" />
          </wsp:Policy>
        </sp:TransportToken>
      </wsp:Policy>
    </sp:TransportBinding>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/Organisation/Person/1/">
      <xsd:include schemaLocation="PersonServiceMsg.xsd" />
      <xsd:import schemaLocation="ServiceplatformFault_1.xsd" namespace="http://serviceplatformen.dk/xml/schemas/ServiceplatformFault/1/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PersonImporterRequestMessage">
    <wsdl:part name="request" element="tns:PersonImporterRequest" />
  </wsdl:message>
  <wsdl:message name="PersonImporterResponseMessage">
    <wsdl:part name="response" element="tns:PersonImporterResponse" />
  </wsdl:message>
  <wsdl:message name="PersonListeRequestMessage">
    <wsdl:part name="request" element="tns:PersonListeRequest" />
  </wsdl:message>
  <wsdl:message name="PersonListeResponseMessage">
    <wsdl:part name="response" element="tns:PersonListeResponse" />
  </wsdl:message>
  <wsdl:message name="PersonLaesRequestMessage">
    <wsdl:part name="request" element="tns:PersonLaesRequest" />
  </wsdl:message>
  <wsdl:message name="PersonLaesResponseMessage">
    <wsdl:part name="response" element="tns:PersonLaesResponse" />
  </wsdl:message>
  <wsdl:message name="PersonOpretRequestMessage">
    <wsdl:part name="request" element="tns:PersonOpretRequest" />
  </wsdl:message>
  <wsdl:message name="PersonOpretResponseMessage">
    <wsdl:part name="response" element="tns:PersonOpretResponse" />
  </wsdl:message>
  <wsdl:message name="PersonPassiverRequestMessage">
    <wsdl:part name="request" element="tns:PersonPassiverRequest" />
  </wsdl:message>
  <wsdl:message name="PersonPassiverResponseMessage">
    <wsdl:part name="response" element="tns:PersonPassiverResponse" />
  </wsdl:message>
  <wsdl:message name="PersonRetRequestMessage">
    <wsdl:part name="request" element="tns:PersonRetRequest" />
  </wsdl:message>
  <wsdl:message name="PersonRetResponseMessage">
    <wsdl:part name="response" element="tns:PersonRetResponse" />
  </wsdl:message>
  <wsdl:message name="PersonSletResponseMessage">
    <wsdl:part name="response" element="tns:PersonSletResponse" />
  </wsdl:message>
  <wsdl:message name="PersonSletRequestMessage">
    <wsdl:part name="request" element="tns:PersonSletRequest" />
  </wsdl:message>
  <wsdl:message name="PersonSoegRequestMessage">
    <wsdl:part name="request" element="tns:PersonSoegRequest" />
  </wsdl:message>
  <wsdl:message name="PersonSoegResponseMessage">
    <wsdl:part name="response" element="tns:PersonSoegResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceplatformFault">
    <wsdl:part name="error" element="spf:ServiceplatformFault" />
  </wsdl:message>
  <wsdl:portType name="PersonPortType">
    <wsdl:operation name="opret">
      <wsdl:input message="tns:PersonOpretRequestMessage" />
      <wsdl:output message="tns:PersonOpretResponseMessage" />
      <wsdl:fault name="ServiceplatformFault" message="tns:ServiceplatformFault" />
    </wsdl:operation>
    <wsdl:operation name="importer">
      <wsdl:input message="tns:PersonImporterRequestMessage" />
      <wsdl:output message="tns:PersonImporterResponseMessage" />
      <wsdl:fault name="ServiceplatformFault" message="tns:ServiceplatformFault" />
    </wsdl:operation>
    <wsdl:operation name="passiver">
      <wsdl:input message="tns:PersonPassiverRequestMessage" />
      <wsdl:output message="tns:PersonPassiverResponseMessage" />
      <wsdl:fault name="ServiceplatformFault" message="tns:ServiceplatformFault" />
    </wsdl:operation>
    <wsdl:operation name="laes">
      <wsdl:input message="tns:PersonLaesRequestMessage" />
      <wsdl:output message="tns:PersonLaesResponseMessage" />
      <wsdl:fault name="ServiceplatformFault" message="tns:ServiceplatformFault" />
    </wsdl:operation>
    <wsdl:operation name="ret">
      <wsdl:input message="tns:PersonRetRequestMessage" />
      <wsdl:output message="tns:PersonRetResponseMessage" />
      <wsdl:fault name="ServiceplatformFault" message="tns:ServiceplatformFault" />
    </wsdl:operation>
    <wsdl:operation name="slet">
      <wsdl:input message="tns:PersonSletRequestMessage" />
      <wsdl:output message="tns:PersonSletResponseMessage" />
      <wsdl:fault name="ServiceplatformFault" message="tns:ServiceplatformFault" />
    </wsdl:operation>
    <wsdl:operation name="soeg">
      <wsdl:input message="tns:PersonSoegRequestMessage" />
      <wsdl:output message="tns:PersonSoegResponseMessage" />
      <wsdl:fault name="ServiceplatformFault" message="tns:ServiceplatformFault" />
    </wsdl:operation>
    <wsdl:operation name="list">
      <wsdl:input message="tns:PersonListeRequestMessage" />
      <wsdl:output message="tns:PersonListeResponseMessage" />
      <wsdl:fault name="ServiceplatformFault" message="tns:ServiceplatformFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Person" type="tns:PersonPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="opret">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/person/opret" />
      <wsdl:input>
        <wsp:PolicyReference URI="#Input_Policy" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault">
        <soap:fault use="literal" name="ServiceplatformFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="importer">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/person/importer" />
      <wsdl:input>
        <wsp:PolicyReference URI="#Input_Policy" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault">
        <soap:fault use="literal" name="ServiceplatformFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="passiver">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/person/passiver" />
      <wsdl:input>
        <wsp:PolicyReference URI="#Input_Policy" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault">
        <soap:fault use="literal" name="ServiceplatformFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="laes">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/person/laes" />
      <wsdl:input>
        <wsp:PolicyReference URI="#Input_Policy" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault">
        <soap:fault use="literal" name="ServiceplatformFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ret">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/person/ret" />
      <wsdl:input>
        <wsp:PolicyReference URI="#Input_Policy" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault">
        <soap:fault use="literal" name="ServiceplatformFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="slet">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/person/slet" />
      <wsdl:input>
        <wsp:PolicyReference URI="#Input_Policy" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault">
        <soap:fault use="literal" name="ServiceplatformFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="soeg">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/person/soeg" />
      <wsdl:input>
        <wsp:PolicyReference URI="#Input_Policy" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault">
        <soap:fault use="literal" name="ServiceplatformFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="list">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/person/list" />
      <wsdl:input>
        <wsp:PolicyReference URI="#Input_Policy" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault">
        <soap:fault use="literal" name="ServiceplatformFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Person">
    <wsdl:port name="Person" binding="tns:Person">
      <soap:address location="http://localhost:8080/service/Organisation/Person/1" />
      <wsp:PolicyReference URI="#STS_SAML_Token_policy" />
      <wsp:PolicyReference URI="#TLS_policy" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>