IntegrationLayer/Resources/sts-schema/wsdl/person.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:header="http://kombit.dk/xml/schemas/RequestHeader/1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:tns="urn:oio:sts:organisation:wsdl:1.1.1" xmlns:type="urn:oio:sts:organisation:person:1.1.1" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonService" targetNamespace="urn:oio:sts:organisation:wsdl:1.1.1">
  <wsdl:types>
<xsd:schema>
		
  <xsd:import namespace="urn:oio:sts:organisation:person:1.1.1" schemaLocation="../xsd/person.1.xsd"/>
        
  <xsd:import namespace="urn:oio:sts:organisation:person:1.1.1" schemaLocation="../xsd/person.4.xsd"/>
        
  <xsd:import namespace="urn:oio:sts:organisation:person:1.1.1" schemaLocation="../xsd/person.6.xsd"/>
        
  <xsd:import namespace="urn:oio:sts:organisation:1.1.1" schemaLocation="../xsd/person.7.xsd"/>
        
  <xsd:import namespace="urn:oio:sts:part:1.1.1" schemaLocation="../xsd/person.5.xsd"/>
        
  <xsd:import namespace="urn:oio:sts:1.1.1" schemaLocation="../xsd/person.3.xsd"/>
        
  <xsd:import namespace="urn:oio:sagdok:3.0.0" schemaLocation="../xsd/person.2.xsd"/>
        
  <xsd:import namespace="http://kombit.dk/xml/schemas/RequestHeader/1/" schemaLocation="../xsd/person.8.xsd"/>
      
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="PersonPassiverRequestMessage">
    <wsdl:part element="header:RequestHeader" name="header">
    </wsdl:part>
    <wsdl:part element="type:PassiverInput" name="request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PersonImporterResponseMessage">
    <wsdl:part element="header:RequestHeader" name="header">
    </wsdl:part>
    <wsdl:part element="type:ImportOutput" name="response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PersonOpretRequestMessage">
    <wsdl:part element="header:RequestHeader" name="header">
    </wsdl:part>
    <wsdl:part element="type:OpretInput" name="request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PersonImporterRequestMessage">
    <wsdl:part element="header:RequestHeader" name="header">
    </wsdl:part>
    <wsdl:part element="type:ImportInput" name="request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PersonSoegResponseMessage">
    <wsdl:part element="header:RequestHeader" name="header">
    </wsdl:part>
    <wsdl:part element="type:SoegOutput" name="response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PersonSletResponseMessage">
    <wsdl:part element="header:RequestHeader" name="header">
    </wsdl:part>
    <wsdl:part element="type:SletOutput" name="response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PersonPassiverResponseMessage">
    <wsdl:part element="header:RequestHeader" name="header">
    </wsdl:part>
    <wsdl:part element="type:PassiverOutput" name="response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PersonListeRequestMessage">
    <wsdl:part element="header:RequestHeader" name="header">
    </wsdl:part>
    <wsdl:part element="type:ListInput" name="request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PersonSletRequestMessage">
    <wsdl:part element="header:RequestHeader" name="header">
    </wsdl:part>
    <wsdl:part element="type:SletInput" name="request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PersonRetResponseMessage">
    <wsdl:part element="header:RequestHeader" name="header">
    </wsdl:part>
    <wsdl:part element="type:RetOutput" name="response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PersonLaesResponseMessage">
    <wsdl:part element="header:RequestHeader" name="header">
    </wsdl:part>
    <wsdl:part element="type:LaesOutput" name="response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PersonSoegRequestMessage">
    <wsdl:part element="header:RequestHeader" name="header">
    </wsdl:part>
    <wsdl:part element="type:SoegInput" name="request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PersonOpretResponseMessage">
    <wsdl:part element="header:RequestHeader" name="header">
    </wsdl:part>
    <wsdl:part element="type:OpretOutput" name="response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PersonLaesRequestMessage">
    <wsdl:part element="header:RequestHeader" name="header">
    </wsdl:part>
    <wsdl:part element="type:LaesInput" name="request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PersonListeResponseMessage">
    <wsdl:part element="header:RequestHeader" name="header">
    </wsdl:part>
    <wsdl:part element="type:ListOutput" name="response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PersonRetRequestMessage">
    <wsdl:part element="header:RequestHeader" name="header">
    </wsdl:part>
    <wsdl:part element="type:RetInput" name="request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersonPortType">
    <wsdl:operation name="opret">
      <wsdl:input message="tns:PersonOpretRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:PersonOpretResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importer">
      <wsdl:input message="tns:PersonImporterRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:PersonImporterResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="passiver">
      <wsdl:input message="tns:PersonPassiverRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:PersonPassiverResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="laes">
      <wsdl:input message="tns:PersonLaesRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:PersonLaesResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ret">
      <wsdl:input message="tns:PersonRetRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:PersonRetResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="slet">
      <wsdl:input message="tns:PersonSletRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:PersonSletResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soeg">
      <wsdl:input message="tns:PersonSoegRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:PersonSoegResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="list">
      <wsdl:input message="tns:PersonListeRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:PersonListeResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Person" type="tns:PersonPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:PolicyReference URI="#ServicePortBindingPolicy"/>
    <wsdl:operation name="opret">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/person/opret"/>
      <wsdl:input>
        <soap:header message="tns:PersonOpretRequestMessage" part="header" use="literal">
        </soap:header>
        <soap:body parts="request" use="literal"/>
    <wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:PersonOpretResponseMessage" part="header" use="literal">
        </soap:header>
        <soap:body parts="response" use="literal"/>
    <wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importer">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/person/importer"/>
      <wsdl:input>
        <soap:header message="tns:PersonImporterRequestMessage" part="header" use="literal">
        </soap:header>
        <soap:body parts="request" use="literal"/>
    <wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:PersonImporterResponseMessage" part="header" use="literal">
        </soap:header>
        <soap:body parts="response" use="literal"/>
    <wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="passiver">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/person/passiver"/>
      <wsdl:input>
        <soap:header message="tns:PersonPassiverRequestMessage" part="header" use="literal">
        </soap:header>
        <soap:body parts="request" use="literal"/>
    <wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:PersonPassiverResponseMessage" part="header" use="literal">
        </soap:header>
        <soap:body parts="response" use="literal"/>
    <wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="laes">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/person/laes"/>
      <wsdl:input>
        <soap:header message="tns:PersonLaesRequestMessage" part="header" use="literal">
        </soap:header>
        <soap:body parts="request" use="literal"/>
    <wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:PersonLaesResponseMessage" part="header" use="literal">
        </soap:header>
        <soap:body parts="response" use="literal"/>
    <wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ret">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/person/ret"/>
      <wsdl:input>
        <soap:header message="tns:PersonRetRequestMessage" part="header" use="literal">
        </soap:header>
        <soap:body parts="request" use="literal"/>
    <wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:PersonRetResponseMessage" part="header" use="literal">
        </soap:header>
        <soap:body parts="response" use="literal"/>
    <wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="slet">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/person/slet"/>
      <wsdl:input>
        <soap:header message="tns:PersonSletRequestMessage" part="header" use="literal">
        </soap:header>
        <soap:body parts="request" use="literal"/>
    <wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:PersonSletResponseMessage" part="header" use="literal">
        </soap:header>
        <soap:body parts="response" use="literal"/>
    <wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soeg">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/person/soeg"/>
      <wsdl:input>
        <soap:header message="tns:PersonSoegRequestMessage" part="header" use="literal">
        </soap:header>
        <soap:body parts="request" use="literal"/>
    <wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:PersonSoegResponseMessage" part="header" use="literal">
        </soap:header>
        <soap:body parts="response" use="literal"/>
    <wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="list">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/person/list"/>
      <wsdl:input>
        <soap:header message="tns:PersonListeRequestMessage" part="header" use="literal">
        </soap:header>
        <soap:body parts="request" use="literal"/>
    <wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:PersonListeResponseMessage" part="header" use="literal">
        </soap:header>
        <soap:body parts="response" use="literal"/>
    <wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonService">
    <wsdl:port binding="tns:Person" name="Person">
      <soap:address location="https://organisation.eksterntest-stoettesystemerne.dk/sts-soap-organisation/person"/>
    </wsdl:port>
  </wsdl:service>
    <wsp:Policy wsu:Id="ServicePortBindingPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsam:Addressing wsp:Optional="false"><wsp:Policy /></wsam:Addressing><sp:AsymmetricBinding>
          <wsp:Policy>
            <sp:InitiatorToken>
              <wsp:Policy>
                <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                  <sp:RequestSecurityTokenTemplate>
                  </sp:RequestSecurityTokenTemplate>
                  <wsp:Policy>
                    <sp:RequireInternalReference/>
                  </wsp:Policy>
                </sp:IssuedToken>
              </wsp:Policy>
            </sp:InitiatorToken>
            <sp:RecipientToken>
              <wsp:Policy>
                <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                  <wsp:Policy>
                    <sp:WssX509V3Token10/>
                    <sp:RequireIssuerSerialReference/>
                  </wsp:Policy>
                </sp:X509Token>
              </wsp:Policy>
            </sp:RecipientToken>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax/>
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp/>
            <sp:ProtectTokens/>
            <sp:OnlySignEntireHeadersAndBody/>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
          </wsp:Policy>
        </sp:AsymmetricBinding>
        <sp:Wss10>
          <wsp:Policy>
            <sp:MustSupportRefKeyIdentifier/>
            <sp:MustSupportRefIssuerSerial/>
          </wsp:Policy>
        </sp:Wss10>
        <sp:Trust13>
          <wsp:Policy>
            <sp:MustSupportIssuedTokens/>
            <sp:RequireClientEntropy/>
            <sp:RequireServerEntropy/>
          </wsp:Policy>
        </sp:Trust13>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
    <wsp:Policy wsu:Id="ServicePortBinding_ping_Input_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SignedParts>
          <sp:Body/>
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
          <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
          <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
          <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
          <sp:Header Name="Framework" Namespace="urn:liberty:sb:2006-08"/>
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
    <wsp:Policy wsu:Id="ServicePortBinding_ping_Output_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SignedParts>
          <sp:Body/>
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
          <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
          <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
          <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
          <sp:Header Name="Framework" Namespace="urn:liberty:sb:2006-08"/>
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
</wsdl:definitions>