IntegrationLayer/Resources/sp-schema/OrganisationFunktion/OrganisationFunktionService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="OrganisationFunktionService"
                  targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/Organisation/OrganisationFunktion/1/"
                  xmlns:tns="http://serviceplatformen.dk/xml/wsdl/soap11/Organisation/OrganisationFunktion/1/"
                  xmlns:spf="http://serviceplatformen.dk/xml/schemas/ServiceplatformFault/1/"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsa="http://www.w3.org/2005/08/addressing"
                  xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                  xmlns:wsp="http://www.w3.org/ns/ws-policy">

  <wsdl:types>
    <xsd:schema targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/Organisation/OrganisationFunktion/1/">
      <xsd:include schemaLocation="OrganisationFunktionServiceMsg.xsd"/>

      <xsd:import namespace="http://serviceplatformen.dk/xml/schemas/ServiceplatformFault/1/"
                  schemaLocation="ServiceplatformFault_1.xsd"/>
    </xsd:schema>
  </wsdl:types>


  <wsdl:message name="OrganisationFunktionImporterRequestMessage">
    <wsdl:part name="request" element="tns:OrganisationFunktionImporterRequest"/>
  </wsdl:message>
  <wsdl:message name="OrganisationFunktionImporterResponseMessage">
    <wsdl:part name="response" element="tns:OrganisationFunktionImporterResponse"/>
  </wsdl:message>
  <wsdl:message name="OrganisationFunktionListeRequestMessage">
    <wsdl:part name="request" element="tns:OrganisationFunktionListeRequest"/>
  </wsdl:message>
  <wsdl:message name="OrganisationFunktionListeResponseMessage">
    <wsdl:part name="response" element="tns:OrganisationFunktionListeResponse"/>
  </wsdl:message>
  <wsdl:message name="OrganisationFunktionLaesRequestMessage">
    <wsdl:part name="request" element="tns:OrganisationFunktionLaesRequest"/>
  </wsdl:message>
  <wsdl:message name="OrganisationFunktionLaesResponseMessage">
    <wsdl:part name="response" element="tns:OrganisationFunktionLaesResponse"/>
  </wsdl:message>
  <wsdl:message name="OrganisationFunktionOpretRequestMessage">
    <wsdl:part name="request" element="tns:OrganisationFunktionOpretRequest"/>
  </wsdl:message>
  <wsdl:message name="OrganisationFunktionOpretResponseMessage">
    <wsdl:part name="response" element="tns:OrganisationFunktionOpretResponse"/>
  </wsdl:message>
  <wsdl:message name="OrganisationFunktionPassiverRequestMessage">
    <wsdl:part name="request" element="tns:OrganisationFunktionPassiverRequest"/>
  </wsdl:message>
  <wsdl:message name="OrganisationFunktionPassiverResponseMessage">
    <wsdl:part name="response" element="tns:OrganisationFunktionPassiverResponse"/>
  </wsdl:message>
  <wsdl:message name="OrganisationFunktionRetRequestMessage">
    <wsdl:part name="request" element="tns:OrganisationFunktionRetRequest"/>
  </wsdl:message>
  <wsdl:message name="OrganisationFunktionRetResponseMessage">
    <wsdl:part name="response" element="tns:OrganisationFunktionRetResponse"/>
  </wsdl:message>
  <wsdl:message name="OrganisationFunktionSletRequestMessage">
    <wsdl:part name="request" element="tns:OrganisationFunktionSletRequest"/>
  </wsdl:message>
  <wsdl:message name="OrganisationFunktionSletResponseMessage">
    <wsdl:part name="response" element="tns:OrganisationFunktionSletResponse"/>
  </wsdl:message>
  <wsdl:message name="OrganisationFunktionSoegResponseMessage">
    <wsdl:part name="response" element="tns:OrganisationFunktionSoegResponse"/>
  </wsdl:message>
  <wsdl:message name="OrganisationFunktionSoegRequestMessage">
    <wsdl:part name="request" element="tns:OrganisationFunktionSoegRequest"/>
  </wsdl:message>
  <wsdl:message name="ServiceplatformFault">
    <wsdl:part name="error" element="spf:ServiceplatformFault"/>
  </wsdl:message>

  <wsdl:portType name="OrganisationFunktionPortType">
    <wsdl:operation name="opret">
      <wsdl:input message="tns:OrganisationFunktionOpretRequestMessage"/>
      <wsdl:output message="tns:OrganisationFunktionOpretResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="importer">
      <wsdl:input message="tns:OrganisationFunktionImporterRequestMessage"/>
      <wsdl:output message="tns:OrganisationFunktionImporterResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="passiver">
      <wsdl:input message="tns:OrganisationFunktionPassiverRequestMessage"/>
      <wsdl:output message="tns:OrganisationFunktionPassiverResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="laes">
      <wsdl:input message="tns:OrganisationFunktionLaesRequestMessage"/>
      <wsdl:output message="tns:OrganisationFunktionLaesResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="ret">
      <wsdl:input message="tns:OrganisationFunktionRetRequestMessage"/>
      <wsdl:output message="tns:OrganisationFunktionRetResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="slet">
      <wsdl:input message="tns:OrganisationFunktionSletRequestMessage"/>
      <wsdl:output message="tns:OrganisationFunktionSletResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="soeg">
      <wsdl:input message="tns:OrganisationFunktionSoegRequestMessage"/>
      <wsdl:output message="tns:OrganisationFunktionSoegResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="list">
      <wsdl:input message="tns:OrganisationFunktionListeRequestMessage"/>
      <wsdl:output message="tns:OrganisationFunktionListeResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="OrganisationFunktion" type="tns:OrganisationFunktionPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="opret">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/organisationfunktion/opret"/>
      <wsdl:input>
        <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="importer">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/organisationfunktion/importer"/>
      <wsdl:input>
        <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="passiver">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/organisationfunktion/passiver"/>
      <wsdl:input>
        <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="laes">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/organisationfunktion/laes"/>
      <wsdl:input>
        <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="ret">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/organisationfunktion/ret"/>
      <wsdl:input>
        <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="slet">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/organisationfunktion/slet"/>
      <wsdl:input>
        <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="soeg">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/organisationfunktion/soeg"/>
      <wsdl:input>
        <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="list">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/organisationfunktion/list"/>
      <wsdl:input>
        <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <!-- Input policy for signing input -->
  <wsp:Policy wsu:Id="Input_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SignedParts>
          <sp:Body/>
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="Framework" Namespace="urn:liberty:sb"/>
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <!-- KOMBIT SAML policy -->
  <wsp:Policy wsu:Id="STS_SAML_Token_policy">
    <sp:SignedSupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
      <wsp:Policy wsp:Optional="false">
        <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
          <!-- TODO Nedenstående Issuer address er pt. ikke rigtig idet STS endpoint ikke kendt-->
          <sp:Issuer>
            <wsa:Address>https://url-til-sts</wsa:Address>
          </sp:Issuer>
          <sp:RequestSecurityTokenTemplate>
            <trust:TokenType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">urn:oasis:names:tc:SAML:2.0:assertion</trust:TokenType>
          </sp:RequestSecurityTokenTemplate>
        </sp:IssuedToken>
        <sp:IncludeTimestamp/>
        <sp:ProtectTokens />
        <sp:OnlySignEntireHeadersAndBody/>
      </wsp:Policy>
    </sp:SignedSupportingTokens>
  </wsp:Policy>
  <!-- TLS policy for communicating with SP -->
  <wsp:Policy wsu:Id="TLS_policy">
    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
      <wsp:Policy>
        <sp:TransportToken>
          <wsp:Policy>
            <sp:HttpsToken RequireClientCertificate="true"/>
          </wsp:Policy>
        </sp:TransportToken>
      </wsp:Policy>
    </sp:TransportBinding>
  </wsp:Policy>
  <wsdl:service name="OrganisationFunktion">
    <wsdl:port name="OrganisationFunktion" binding="tns:OrganisationFunktion">
      <soap:address location="http://localhost:8080/service/Organisation/OrganisationFunktion/1"/>
      <wsp:PolicyReference URI="#STS_SAML_Token_policy"/>
      <wsp:PolicyReference URI="#TLS_policy"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
