IntegrationLayer/Resources/sp-v4/Person/SF1500_EP_FS10/Person.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        name="PersonService"
        targetNamespace="urn:oio:sts:organisation:wsdl:1.1.2.0"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="urn:oio:sts:organisation:wsdl:1.1.2.0"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
        xmlns:type="urn:oio:sts:organisation:person:1.1.2.0"
        xmlns:header="http://kombit.dk/xml/schemas/RequestHeader/1/">

    <wsp:Policy wsu:Id="ServiceplatformBindingPolicy">
        <wsp:All>
            <wsam:Addressing wsp:Optional="false">
                <wsp:Policy/>
            </wsam:Addressing>
            <sp:SignedParts>
                <sp:Body/>
                <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                <sp:Header Name="Framework" Namespace="urn:liberty:sb:2006-08"/>
            </sp:SignedParts>
            <sp:AsymmetricBinding>
                <wsp:Policy>
                    <sp:InitiatorToken>
                        <wsp:Policy>
                            <sp:SamlToken
                                    sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                                <wsp:Policy>
                                    <sp:WssSamlV20Token11/>
                                </wsp:Policy>
                            </sp:SamlToken>
                        </wsp:Policy>
                    </sp:InitiatorToken>
                    <sp:RecipientToken>
                        <wsp:Policy>
                            <sp:X509Token
                                    sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToInitiator">
                                <wsp:Policy>
                                    <sp:WssX509V3Token10/>
                                </wsp:Policy>
                            </sp:X509Token>
                        </wsp:Policy>
                    </sp:RecipientToken>
                    <sp:AlgorithmSuite>
                        <wsp:Policy>
                            <sp:Basic256Sha256/>
                        </wsp:Policy>
                    </sp:AlgorithmSuite>
                    <sp:Layout>
                        <wsp:Policy>
                            <sp:Strict/>
                        </wsp:Policy>
                    </sp:Layout>
                    <sp:ProtectTokens/>
                    <sp:IncludeTimestamp/>
                    <sp:OnlySignEntireHeadersAndBody/>
                </wsp:Policy>
            </sp:AsymmetricBinding>
            <sp:SignedSupportingTokens>
                <wsp:Policy>
                    <sp:IssuedToken
                            sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                        <sp:RequestSecurityTokenTemplate/>
                        <wsp:Policy>
                            <sp:WssSamlV20Token11/>
                        </wsp:Policy>
                    </sp:IssuedToken>
                </wsp:Policy>
            </sp:SignedSupportingTokens>
        </wsp:All>
    </wsp:Policy>

    <!--<wsp:Policy wsu:Id="ServicePortBindingPolicy">-->
    <!--<wsp:ExactlyOne>-->
    <!--<wsp:All>-->
    <!--<sp:AsymmetricBinding>-->
    <!--<wsp:Policy>-->
    <!--<sp:InitiatorToken>-->
    <!--<wsp:Policy>-->
    <!--<sp:IssuedToken-->
    <!--sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">-->
    <!--<sp:RequestSecurityTokenTemplate>-->
    <!--</sp:RequestSecurityTokenTemplate>-->
    <!--<wsp:Policy>-->
    <!--<sp:RequireInternalReference/>-->
    <!--</wsp:Policy>-->
    <!--</sp:IssuedToken>-->
    <!--</wsp:Policy>-->
    <!--</sp:InitiatorToken>-->
    <!--<sp:RecipientToken>-->
    <!--<wsp:Policy>-->
    <!--<sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">-->
    <!--<wsp:Policy>-->
    <!--<sp:WssX509V3Token10/>-->
    <!--<sp:RequireIssuerSerialReference/>-->
    <!--</wsp:Policy>-->
    <!--</sp:X509Token>-->
    <!--</wsp:Policy>-->
    <!--</sp:RecipientToken>-->
    <!--<sp:Layout>-->
    <!--<wsp:Policy>-->
    <!--<sp:Lax/>-->
    <!--</wsp:Policy>-->
    <!--</sp:Layout>-->
    <!--<sp:IncludeTimestamp/>-->
    <!--<sp:ProtectTokens/>-->
    <!--<sp:OnlySignEntireHeadersAndBody/>-->
    <!--<sp:AlgorithmSuite>-->
    <!--<wsp:Policy>-->
    <!--<sp:Basic256/>-->
    <!--</wsp:Policy>-->
    <!--</sp:AlgorithmSuite>-->
    <!--</wsp:Policy>-->
    <!--</sp:AsymmetricBinding>-->
    <!--<sp:Wss10 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">-->
    <!--<wsp:Policy>-->
    <!--<sp:MustSupportRefKeyIdentifier/>-->
    <!--<sp:MustSupportRefIssuerSerial/>-->
    <!--</wsp:Policy>-->
    <!--</sp:Wss10>-->
    <!--<sp:Trust13 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">-->
    <!--<wsp:Policy>-->
    <!--<sp:MustSupportIssuedTokens/>-->
    <!--<sp:RequireClientEntropy/>-->
    <!--<sp:RequireServerEntropy/>-->
    <!--</wsp:Policy>-->
    <!--</sp:Trust13>-->
    <!--</wsp:All>-->
    <!--</wsp:ExactlyOne>-->
    <!--</wsp:Policy>-->
    <!--<wsp:Policy wsu:Id="ServicePortBinding_ping_Input_Policy">-->
    <!--<wsp:ExactlyOne>-->
    <!--<wsp:All>-->
    <!--<sp:SignedParts>-->
    <!--<sp:Body/>-->
    <!--<sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="AckRequested"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="SequenceAcknowledgement"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="Sequence"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="CreateSequence"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="Framework" Namespace="urn:liberty:sb:2006-08"/>-->
    <!--</sp:SignedParts>-->
    <!--</wsp:All>-->
    <!--</wsp:ExactlyOne>-->
    <!--</wsp:Policy>-->
    <!--<wsp:Policy wsu:Id="ServicePortBinding_ping_Output_Policy">-->
    <!--<wsp:ExactlyOne>-->
    <!--<wsp:All>-->
    <!--<sp:SignedParts>-->
    <!--<sp:Body/>-->
    <!--<sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="AckRequested"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="SequenceAcknowledgement"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="Sequence"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="CreateSequence"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="Framework" Namespace="urn:liberty:sb:2006-08"/>-->
    <!--</sp:SignedParts>-->
    <!--</wsp:All>-->
    <!--</wsp:ExactlyOne>-->
    <!--</wsp:Policy>-->

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:oio:sts:organisation:person:1.1.2.0"
                        schemaLocation="xsd/1.1.STS-2/PersonOperationer.xsd"/>
            <xsd:import namespace="urn:oio:sts:organisation:person:1.1.2.0" schemaLocation="xsd/1.1.STS-2/Person.xsd"/>
            <xsd:import namespace="urn:oio:sts:organisation:person:1.1.2.0"
                        schemaLocation="xsd/1.1.STS-2/PersonBesked.xsd"/>
            <xsd:import namespace="urn:oio:sts:organisation:1.1.2.0"
                        schemaLocation="xsd/1.1.STS-2/OrganisationFaelles.xsd"/>
            <xsd:import namespace="urn:oio:sts:part:1.1.2.0" schemaLocation="xsd/1.1.STS-2/Part.xsd"/>
            <xsd:import namespace="urn:oio:sts:1.1.2.0" schemaLocation="xsd/1.1.STS-2/GenerelleDefinitioner.xsd"/>
            <xsd:import namespace="urn:oio:sagdok:3.0.0" schemaLocation="xsd/common/SagDokObjekt.xsd"/>
            <xsd:import namespace="http://kombit.dk/xml/schemas/RequestHeader/1/"
                        schemaLocation="xsd/common/RequestHeader.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="PersonImporterRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="type:ImportInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PersonOpretResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="type:OpretOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PersonLaesRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="type:LaesInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PersonListeResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="type:ListOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PersonPassiverRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="type:PassiverInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PersonSletRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="type:SletInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PersonLaesResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="type:LaesOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PersonRetResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="type:RetOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PersonRetRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="type:RetInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PersonImporterResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="type:ImportOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PersonSoegResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="type:SoegOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PersonOpretRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="type:OpretInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PersonSletResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="type:SletOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PersonPassiverResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="type:PassiverOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PersonSoegRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="type:SoegInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PersonListeRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="type:ListInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PersonPortType">
        <wsdl:operation name="opret">
            <wsdl:input message="tns:PersonOpretRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:PersonOpretResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="importer">
            <wsdl:input message="tns:PersonImporterRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:PersonImporterResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="passiver">
            <wsdl:input message="tns:PersonPassiverRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:PersonPassiverResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="laes">
            <wsdl:input message="tns:PersonLaesRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:PersonLaesResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ret">
            <wsdl:input message="tns:PersonRetRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:PersonRetResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="slet">
            <wsdl:input message="tns:PersonSletRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:PersonSletResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="soeg">
            <wsdl:input message="tns:PersonSoegRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:PersonSoegResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="list">
            <wsdl:input message="tns:PersonListeRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:PersonListeResponseMessage">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Person" type="tns:PersonPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <!--<wsp:PolicyReference URI="#ServicePortBindingPolicy"/>-->
        <wsdl:operation name="opret">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/person/opret"/>
            <wsdl:input>
                <soap:header message="tns:PersonOpretRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:PersonOpretResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="importer">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/person/importer"/>
            <wsdl:input>
                <soap:header message="tns:PersonImporterRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:PersonImporterResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="passiver">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/person/passiver"/>
            <wsdl:input>
                <soap:header message="tns:PersonPassiverRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:PersonPassiverResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="laes">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/person/laes"/>
            <wsdl:input>
                <soap:header message="tns:PersonLaesRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:PersonLaesResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ret">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/person/ret"/>
            <wsdl:input>
                <soap:header message="tns:PersonRetRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:PersonRetResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="slet">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/person/slet"/>
            <wsdl:input>
                <soap:header message="tns:PersonSletRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:PersonSletResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="soeg">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/person/soeg"/>
            <wsdl:input>
                <soap:header message="tns:PersonSoegRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:PersonSoegResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="list">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/person/list"/>
            <wsdl:input>
                <soap:header message="tns:PersonListeRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:PersonListeResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Person">
        <wsp:PolicyReference URI="#ServiceplatformBindingPolicy"/>
        <wsdl:port name="Person" binding="tns:Person">
            <soap:address location="http://kombit.dk/sts/organisation/person"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
