IntegrationLayer/Resources/sp-v4/Organisation/SF1500_EP_FS8/Organisation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        name="OrganisationService"
        targetNamespace="urn:oio:sts:organisation:wsdl:1.1.2.0"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="urn:oio:sts:organisation:wsdl:1.1.2.0"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
        xmlns:org="urn:oio:sts:organisation:organisation:1.1.2.0"
        xmlns:header="http://kombit.dk/xml/schemas/RequestHeader/1/">

    <wsp:Policy wsu:Id="ServiceplatformBindingPolicy">
        <wsp:All>
            <wsam:Addressing wsp:Optional="false">
                <wsp:Policy/>
            </wsam:Addressing>
            <sp:SignedParts>
                <sp:Body/>
                <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                <sp:Header Name="Framework" Namespace="urn:liberty:sb:2006-08"/>
            </sp:SignedParts>
            <sp:AsymmetricBinding>
                <wsp:Policy>
                    <sp:InitiatorToken>
                        <wsp:Policy>
                            <sp:SamlToken
                                    sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                                <wsp:Policy>
                                    <sp:WssSamlV20Token11/>
                                </wsp:Policy>
                            </sp:SamlToken>
                        </wsp:Policy>
                    </sp:InitiatorToken>
                    <sp:RecipientToken>
                        <wsp:Policy>
                            <sp:X509Token
                                    sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToInitiator">
                                <wsp:Policy>
                                    <sp:WssX509V3Token10/>
                                </wsp:Policy>
                            </sp:X509Token>
                        </wsp:Policy>
                    </sp:RecipientToken>
                    <sp:AlgorithmSuite>
                        <wsp:Policy>
                            <sp:Basic256Sha256/>
                        </wsp:Policy>
                    </sp:AlgorithmSuite>
                    <sp:Layout>
                        <wsp:Policy>
                            <sp:Strict/>
                        </wsp:Policy>
                    </sp:Layout>
                    <sp:ProtectTokens/>
                    <sp:IncludeTimestamp/>
                    <sp:OnlySignEntireHeadersAndBody/>
                </wsp:Policy>
            </sp:AsymmetricBinding>
            <sp:SignedSupportingTokens>
                <wsp:Policy>
                    <sp:IssuedToken
                            sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                        <sp:RequestSecurityTokenTemplate/>
                        <wsp:Policy>
                            <sp:WssSamlV20Token11/>
                        </wsp:Policy>
                    </sp:IssuedToken>
                </wsp:Policy>
            </sp:SignedSupportingTokens>
        </wsp:All>
    </wsp:Policy>

    <!--<wsp:Policy wsu:Id="ServicePortBindingPolicy">-->
    <!--<wsp:ExactlyOne>-->
    <!--<wsp:All>-->
    <!--<sp:AsymmetricBinding>-->
    <!--<wsp:Policy>-->
    <!--<sp:InitiatorToken>-->
    <!--<wsp:Policy>-->
    <!--<sp:IssuedToken-->
    <!--sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">-->
    <!--<sp:RequestSecurityTokenTemplate>-->
    <!--</sp:RequestSecurityTokenTemplate>-->
    <!--<wsp:Policy>-->
    <!--<sp:RequireInternalReference/>-->
    <!--</wsp:Policy>-->
    <!--</sp:IssuedToken>-->
    <!--</wsp:Policy>-->
    <!--</sp:InitiatorToken>-->
    <!--<sp:RecipientToken>-->
    <!--<wsp:Policy>-->
    <!--<sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">-->
    <!--<wsp:Policy>-->
    <!--<sp:WssX509V3Token10/>-->
    <!--<sp:RequireIssuerSerialReference/>-->
    <!--</wsp:Policy>-->
    <!--</sp:X509Token>-->
    <!--</wsp:Policy>-->
    <!--</sp:RecipientToken>-->
    <!--<sp:Layout>-->
    <!--<wsp:Policy>-->
    <!--<sp:Lax/>-->
    <!--</wsp:Policy>-->
    <!--</sp:Layout>-->
    <!--<sp:IncludeTimestamp/>-->
    <!--<sp:ProtectTokens/>-->
    <!--<sp:OnlySignEntireHeadersAndBody/>-->
    <!--<sp:AlgorithmSuite>-->
    <!--<wsp:Policy>-->
    <!--<sp:Basic256/>-->
    <!--</wsp:Policy>-->
    <!--</sp:AlgorithmSuite>-->
    <!--</wsp:Policy>-->
    <!--</sp:AsymmetricBinding>-->
    <!--<sp:Wss10 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">-->
    <!--<wsp:Policy>-->
    <!--<sp:MustSupportRefKeyIdentifier/>-->
    <!--<sp:MustSupportRefIssuerSerial/>-->
    <!--</wsp:Policy>-->
    <!--</sp:Wss10>-->
    <!--<sp:Trust13 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">-->
    <!--<wsp:Policy>-->
    <!--<sp:MustSupportIssuedTokens/>-->
    <!--<sp:RequireClientEntropy/>-->
    <!--<sp:RequireServerEntropy/>-->
    <!--</wsp:Policy>-->
    <!--</sp:Trust13>-->
    <!--</wsp:All>-->
    <!--</wsp:ExactlyOne>-->
    <!--</wsp:Policy>-->
    <!--<wsp:Policy wsu:Id="ServicePortBinding_ping_Input_Policy">-->
    <!--<wsp:ExactlyOne>-->
    <!--<wsp:All>-->
    <!--<sp:SignedParts>-->
    <!--<sp:Body/>-->
    <!--<sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="AckRequested"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="SequenceAcknowledgement"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="Sequence"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="CreateSequence"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="Framework" Namespace="urn:liberty:sb:2006-08"/>-->
    <!--</sp:SignedParts>-->
    <!--</wsp:All>-->
    <!--</wsp:ExactlyOne>-->
    <!--</wsp:Policy>-->
    <!--<wsp:Policy wsu:Id="ServicePortBinding_ping_Output_Policy">-->
    <!--<wsp:ExactlyOne>-->
    <!--<wsp:All>-->
    <!--<sp:SignedParts>-->
    <!--<sp:Body/>-->
    <!--<sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="AckRequested"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="SequenceAcknowledgement"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="Sequence"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="CreateSequence"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="Framework" Namespace="urn:liberty:sb:2006-08"/>-->
    <!--</sp:SignedParts>-->
    <!--</wsp:All>-->
    <!--</wsp:ExactlyOne>-->
    <!--</wsp:Policy>-->

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:oio:sts:organisation:organisation:1.1.2.0"
                        schemaLocation="xsd/1.1.STS-2/OrganisationOperationer.xsd"/>
            <xsd:import namespace="urn:oio:sts:organisation:organisation:1.1.2.0"
                        schemaLocation="xsd/1.1.STS-2/OrganisationBesked.xsd"/>
            <xsd:import namespace="urn:oio:sts:organisation:organisation:1.1.2.0"
                        schemaLocation="xsd/1.1.STS-2/Organisation.xsd"/>
            <xsd:import namespace="urn:oio:sts:organisation:1.1.2.0"
                        schemaLocation="xsd/1.1.STS-2/OrganisationFaelles.xsd"/>
            <xsd:import namespace="urn:oio:sts:part:1.1.2.0" schemaLocation="xsd/1.1.STS-2/Part.xsd"/>
            <xsd:import namespace="urn:oio:sts:1.1.2.0" schemaLocation="xsd/1.1.STS-2/GenerelleDefinitioner.xsd"/>
            <xsd:import namespace="urn:oio:sagdok:3.0.0" schemaLocation="xsd/common/SagDokObjekt.xsd"/>
            <xsd:import namespace="http://kombit.dk/xml/schemas/RequestHeader/1/"
                        schemaLocation="xsd/common/RequestHeader.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="OrganisationLaesRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="org:LaesInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationSletRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="org:SletInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationOpretResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="org:OpretOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationPassiverRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="org:PassiverInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationPassiverResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="org:PassiverOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationOpretRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="org:OpretInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationSletResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="org:SletOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationListResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="org:ListOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationRetResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="org:RetOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationRetRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="org:RetInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationImporterResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="org:ImportOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationListRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="org:ListInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationSoegResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="org:SoegOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationLaesResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="org:LaesOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationImporterRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="org:ImportInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisationSoegRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="org:SoegInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="OrganisationPortType">
        <wsdl:operation name="opret">
            <wsdl:input message="tns:OrganisationOpretRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:OrganisationOpretResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="importer">
            <wsdl:input message="tns:OrganisationImporterRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:OrganisationImporterResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="passiver">
            <wsdl:input message="tns:OrganisationPassiverRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:OrganisationPassiverResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="laes">
            <wsdl:input message="tns:OrganisationLaesRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:OrganisationLaesResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ret">
            <wsdl:input message="tns:OrganisationRetRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:OrganisationRetResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="slet">
            <wsdl:input message="tns:OrganisationSletRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:OrganisationSletResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="soeg">
            <wsdl:input message="tns:OrganisationSoegRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:OrganisationSoegResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="list">
            <wsdl:input message="tns:OrganisationListRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:OrganisationListResponseMessage">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Organisation" type="tns:OrganisationPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <!--<wsp:PolicyReference URI="#ServicePortBindingPolicy"/>-->
        <wsdl:operation name="opret">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/organisation/opret"/>
            <wsdl:input>
                <soap:header message="tns:OrganisationOpretRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:OrganisationOpretResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="importer">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/organisation/importer"/>
            <wsdl:input>
                <soap:header message="tns:OrganisationImporterRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:OrganisationImporterResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="passiver">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/organisation/passiver"/>
            <wsdl:input>
                <soap:header message="tns:OrganisationPassiverRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:OrganisationPassiverResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="laes">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/organisation/laes"/>
            <wsdl:input>
                <soap:header message="tns:OrganisationLaesRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:OrganisationLaesResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ret">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/organisation/ret"/>
            <wsdl:input>
                <soap:header message="tns:OrganisationRetRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:OrganisationRetResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="slet">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/organisation/slet"/>
            <wsdl:input>
                <soap:header message="tns:OrganisationSletRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:OrganisationSletResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="soeg">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/organisation/soeg"/>
            <wsdl:input>
                <soap:header message="tns:OrganisationSoegRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:OrganisationSoegResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="list">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/organisation/list"/>
            <wsdl:input>
                <soap:header message="tns:OrganisationListRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:OrganisationListResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Organisation">
        <wsp:PolicyReference URI="#ServiceplatformBindingPolicy"/>
        <wsdl:port name="Organisation" binding="tns:Organisation">
            <soap:address location="http://kombit.dk/sts/organisation/organisation"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
