IntegrationLayer/Resources/sp-schema/Bruger/BrugerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BrugerService"
                  targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/Organisation/Bruger/1/"
                  xmlns:tns="http://serviceplatformen.dk/xml/wsdl/soap11/Organisation/Bruger/1/"
                  xmlns:spf="http://serviceplatformen.dk/xml/schemas/ServiceplatformFault/1/"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsa="http://www.w3.org/2005/08/addressing"
                  xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                  xmlns:wsp="http://www.w3.org/ns/ws-policy">

  <!-- Draft of Organisation/Bruger serviceintegration for the Service Platform, May 2015 -->

  <wsdl:types>
    <xsd:schema targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/Organisation/Bruger/1/">
      <xsd:include schemaLocation="BrugerServiceMsg.xsd"/>
      <xsd:import namespace="http://serviceplatformen.dk/xml/schemas/ServiceplatformFault/1/"
                  schemaLocation="ServiceplatformFault_1.xsd"/>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="BrugerImporterRequestMessage">
    <wsdl:part name="request" element="tns:BrugerImporterRequest"/>
  </wsdl:message>
  <wsdl:message name="BrugerImporterResponseMessage">
    <wsdl:part name="response" element="tns:BrugerImporterResponse"/>
  </wsdl:message>
  <wsdl:message name="BrugerListeRequestMessage">
    <wsdl:part name="request" element="tns:BrugerListeRequest"/>
  </wsdl:message>
  <wsdl:message name="BrugerListeResponseMessage">
    <wsdl:part name="response" element="tns:BrugerListeResponse"/>
  </wsdl:message>
  <wsdl:message name="BrugerLaesRequestMessage">
    <wsdl:part name="request" element="tns:BrugerLaesRequest"/>
  </wsdl:message>
  <wsdl:message name="BrugerLaesResponseMessage">
    <wsdl:part name="response" element="tns:BrugerLaesResponse"/>
  </wsdl:message>
  <wsdl:message name="BrugerOpretRequestMessage">
    <wsdl:part name="request" element="tns:BrugerOpretRequest"/>
  </wsdl:message>
  <wsdl:message name="BrugerOpretResponseMessage">
    <wsdl:part name="response" element="tns:BrugerOpretResponse"/>
  </wsdl:message>
  <wsdl:message name="BrugerPassiverRequestMessage">
    <wsdl:part name="request" element="tns:BrugerPassiverRequest"/>
  </wsdl:message>
  <wsdl:message name="BrugerPassiverResponseMessage">
    <wsdl:part name="response" element="tns:BrugerPassiverResponse"/>
  </wsdl:message>
  <wsdl:message name="BrugerRetRequestMessage">
    <wsdl:part name="request" element="tns:BrugerRetRequest"/>
  </wsdl:message>
  <wsdl:message name="BrugerRetResponseMessage">
    <wsdl:part name="response" element="tns:BrugerRetResponse"/>
  </wsdl:message>
  <wsdl:message name="BrugerSletRequestMessage">
    <wsdl:part name="request" element="tns:BrugerSletRequest"/>
  </wsdl:message>
  <wsdl:message name="BrugerSletResponseMessage">
    <wsdl:part name="response" element="tns:BrugerSletResponse"/>
  </wsdl:message>
  <wsdl:message name="BrugerSoegResponseMessage">
    <wsdl:part name="response" element="tns:BrugerSoegResponse"/>
  </wsdl:message>
  <wsdl:message name="BrugerSoegRequestMessage">
    <wsdl:part name="request" element="tns:BrugerSoegRequest"/>
  </wsdl:message>
  <wsdl:message name="ServiceplatformFault">
    <wsdl:part name="error" element="spf:ServiceplatformFault"/>
  </wsdl:message>

  <wsdl:portType name="BrugerPortType">
    <wsdl:operation name="opret">
      <wsdl:input message="tns:BrugerOpretRequestMessage"/>
      <wsdl:output message="tns:BrugerOpretResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="importer">
      <wsdl:input message="tns:BrugerImporterRequestMessage"/>
      <wsdl:output message="tns:BrugerImporterResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="passiver">
      <wsdl:input message="tns:BrugerPassiverRequestMessage"/>
      <wsdl:output message="tns:BrugerPassiverResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="laes">
      <wsdl:input message="tns:BrugerLaesRequestMessage"/>
      <wsdl:output message="tns:BrugerLaesResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="ret">
      <wsdl:input message="tns:BrugerRetRequestMessage"/>
      <wsdl:output message="tns:BrugerRetResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="slet">
      <wsdl:input message="tns:BrugerSletRequestMessage"/>
      <wsdl:output message="tns:BrugerSletResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="soeg">
      <wsdl:input message="tns:BrugerSoegRequestMessage"/>
      <wsdl:output message="tns:BrugerSoegResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="list">
      <wsdl:input message="tns:BrugerListeRequestMessage"/>
      <wsdl:output message="tns:BrugerListeResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="Bruger" type="tns:BrugerPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="opret">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/bruger/opret"/>
      <wsdl:input>
        <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="importer">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/bruger/importer"/>
      <wsdl:input>
        <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="passiver">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/bruger/passiver"/>
      <wsdl:input>
         <!--input policy reference-->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="laes">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/bruger/laes"/>
      <wsdl:input>
         <!--input policy reference-->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="ret">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/bruger/ret"/>
      <wsdl:input>
         <!--input policy reference-->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="slet">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/bruger/slet"/>
      <wsdl:input>
         <!--input policy reference-->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="soeg">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/bruger/soeg"/>
      <wsdl:input>
         <!--input policy reference-->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="list">
      <soap:operation soapAction="http://kombit.dk/sts/organisation/bruger/list"/>
      <wsdl:input>
         <!--input policy reference-->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <!-- Input policy for signing input -->
  <wsp:Policy wsu:Id="Input_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SignedParts>
          <sp:Body/>
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="Framework" Namespace="urn:liberty:sb"/>
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <!-- KOMBIT SAML policy -->
  <wsp:Policy wsu:Id="STS_SAML_Token_policy">
    <sp:SignedSupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
      <wsp:Policy wsp:Optional="false">
        <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
          <!-- TODO Nedenstående Issuer address er pt. ikke rigtig idet STS endpoint ikke kendt-->
          <sp:Issuer>
            <wsa:Address>https://url-til-sts</wsa:Address>
          </sp:Issuer>
          <sp:RequestSecurityTokenTemplate>
            <trust:TokenType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">urn:oasis:names:tc:SAML:2.0:assertion</trust:TokenType>
          </sp:RequestSecurityTokenTemplate>
        </sp:IssuedToken>
        <sp:IncludeTimestamp/>
        <sp:ProtectTokens />
        <sp:OnlySignEntireHeadersAndBody/>
      </wsp:Policy>
    </sp:SignedSupportingTokens>
  </wsp:Policy>
  <!-- TLS policy for communicating with SP -->
  <wsp:Policy wsu:Id="TLS_policy">
    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
      <wsp:Policy>
        <sp:TransportToken>
          <wsp:Policy>
            <sp:HttpsToken RequireClientCertificate="true"/>
          </wsp:Policy>
        </sp:TransportToken>
      </wsp:Policy>
    </sp:TransportBinding>
  </wsp:Policy>
  <wsdl:service name="Bruger">
    <wsdl:port name="Bruger" binding="tns:Bruger">
      <soap:address location="http://localhost:8080/service/Organisation/Bruger/1"/>
      <wsp:PolicyReference URI="#STS_SAML_Token_policy"/>
      <wsp:PolicyReference URI="#TLS_policy"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
