IntegrationLayer/Resources/sp-v4/Adresse/SF1500_EP_FS1/Adresse.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        name="AdresseService"
        targetNamespace="urn:oio:sts:organisation:wsdl:1.1.2.0"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="urn:oio:sts:organisation:wsdl:1.1.2.0"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
        xmlns:type="urn:oio:sts:organisation:adresse:1.1.2.0"
        xmlns:header="http://kombit.dk/xml/schemas/RequestHeader/1/">

    <wsp:Policy wsu:Id="ServiceplatformBindingPolicy">
        <wsp:All>
            <wsam:Addressing wsp:Optional="false">
                <wsp:Policy/>
            </wsam:Addressing>
            <sp:SignedParts>
                <sp:Body/>
                <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                <sp:Header Name="Framework" Namespace="urn:liberty:sb:2006-08"/>
            </sp:SignedParts>
            <sp:AsymmetricBinding>
                <wsp:Policy>
                    <sp:InitiatorToken>
                        <wsp:Policy>
                            <sp:SamlToken
                                    sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                                <wsp:Policy>
                                    <sp:WssSamlV20Token11/>
                                </wsp:Policy>
                            </sp:SamlToken>
                        </wsp:Policy>
                    </sp:InitiatorToken>
                    <sp:RecipientToken>
                        <wsp:Policy>
                            <sp:X509Token
                                    sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToInitiator">
                                <wsp:Policy>
                                    <sp:WssX509V3Token10/>
                                </wsp:Policy>
                            </sp:X509Token>
                        </wsp:Policy>
                    </sp:RecipientToken>
                    <sp:AlgorithmSuite>
                        <wsp:Policy>
                            <sp:Basic256Sha256/>
                        </wsp:Policy>
                    </sp:AlgorithmSuite>
                    <sp:Layout>
                        <wsp:Policy>
                            <sp:Strict/>
                        </wsp:Policy>
                    </sp:Layout>
                    <sp:ProtectTokens/>
                    <sp:IncludeTimestamp/>
                    <sp:OnlySignEntireHeadersAndBody/>
                </wsp:Policy>
            </sp:AsymmetricBinding>
            <sp:SignedSupportingTokens>
                <wsp:Policy>
                    <sp:IssuedToken
                            sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                        <sp:RequestSecurityTokenTemplate/>
                        <wsp:Policy>
                            <sp:WssSamlV20Token11/>
                        </wsp:Policy>
                    </sp:IssuedToken>
                </wsp:Policy>
            </sp:SignedSupportingTokens>
        </wsp:All>
    </wsp:Policy>

    <!--<wsp:Policy wsu:Id="ServicePortBindingPolicy">-->
    <!--<wsp:ExactlyOne>-->
    <!--<wsp:All>-->
    <!--<sp:AsymmetricBinding>-->
    <!--<wsp:Policy>-->
    <!--<sp:InitiatorToken>-->
    <!--<wsp:Policy>-->
    <!--<sp:IssuedToken-->
    <!--sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">-->
    <!--<sp:RequestSecurityTokenTemplate>-->
    <!--</sp:RequestSecurityTokenTemplate>-->
    <!--<wsp:Policy>-->
    <!--<sp:RequireInternalReference/>-->
    <!--</wsp:Policy>-->
    <!--</sp:IssuedToken>-->
    <!--</wsp:Policy>-->
    <!--</sp:InitiatorToken>-->
    <!--<sp:RecipientToken>-->
    <!--<wsp:Policy>-->
    <!--<sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">-->
    <!--<wsp:Policy>-->
    <!--<sp:WssX509V3Token10/>-->
    <!--<sp:RequireIssuerSerialReference/>-->
    <!--</wsp:Policy>-->
    <!--</sp:X509Token>-->
    <!--</wsp:Policy>-->
    <!--</sp:RecipientToken>-->
    <!--<sp:Layout>-->
    <!--<wsp:Policy>-->
    <!--<sp:Lax/>-->
    <!--</wsp:Policy>-->
    <!--</sp:Layout>-->
    <!--<sp:IncludeTimestamp/>-->
    <!--<sp:ProtectTokens/>-->
    <!--<sp:OnlySignEntireHeadersAndBody/>-->
    <!--<sp:AlgorithmSuite>-->
    <!--<wsp:Policy>-->
    <!--<sp:Basic256/>-->
    <!--</wsp:Policy>-->
    <!--</sp:AlgorithmSuite>-->
    <!--</wsp:Policy>-->
    <!--</sp:AsymmetricBinding>-->
    <!--<sp:Wss10 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">-->
    <!--<wsp:Policy>-->
    <!--<sp:MustSupportRefKeyIdentifier/>-->
    <!--<sp:MustSupportRefIssuerSerial/>-->
    <!--</wsp:Policy>-->
    <!--</sp:Wss10>-->
    <!--<sp:Trust13 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">-->
    <!--<wsp:Policy>-->
    <!--<sp:MustSupportIssuedTokens/>-->
    <!--<sp:RequireClientEntropy/>-->
    <!--<sp:RequireServerEntropy/>-->
    <!--</wsp:Policy>-->
    <!--</sp:Trust13>-->
    <!--</wsp:All>-->
    <!--</wsp:ExactlyOne>-->
    <!--</wsp:Policy>-->
    <!--<wsp:Policy wsu:Id="ServicePortBinding_ping_Input_Policy">-->
    <!--<wsp:ExactlyOne>-->
    <!--<wsp:All>-->
    <!--<sp:SignedParts>-->
    <!--<sp:Body/>-->
    <!--<sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="AckRequested"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="SequenceAcknowledgement"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="Sequence"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="CreateSequence"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="Framework" Namespace="urn:liberty:sb:2006-08"/>-->
    <!--</sp:SignedParts>-->
    <!--</wsp:All>-->
    <!--</wsp:ExactlyOne>-->
    <!--</wsp:Policy>-->
    <!--<wsp:Policy wsu:Id="ServicePortBinding_ping_Output_Policy">-->
    <!--<wsp:ExactlyOne>-->
    <!--<wsp:All>-->
    <!--<sp:SignedParts>-->
    <!--<sp:Body/>-->
    <!--<sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>-->
    <!--<sp:Header Name="AckRequested"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="SequenceAcknowledgement"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="Sequence"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="CreateSequence"-->
    <!--Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>-->
    <!--<sp:Header Name="Framework" Namespace="urn:liberty:sb:2006-08"/>-->
    <!--</sp:SignedParts>-->
    <!--</wsp:All>-->
    <!--</wsp:ExactlyOne>-->
    <!--</wsp:Policy>-->

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:oio:sts:organisation:adresse:1.1.2.0"
                        schemaLocation="xsd/1.1.STS-2/AdresseOperationer.xsd"/>
            <xsd:import namespace="urn:oio:sts:organisation:adresse:1.1.2.0"
                        schemaLocation="xsd/1.1.STS-2/Adresse.xsd"/>
            <xsd:import namespace="urn:oio:sts:organisation:adresse:1.1.2.0"
                        schemaLocation="xsd/1.1.STS-2/AdresseBesked.xsd"/>
            <xsd:import namespace="urn:oio:sts:organisation:1.1.2.0"
                        schemaLocation="xsd/1.1.STS-2/OrganisationFaelles.xsd"/>
            <xsd:import namespace="urn:oio:sts:part:1.1.2.0" schemaLocation="xsd/1.1.STS-2/Part.xsd"/>
            <xsd:import namespace="urn:oio:sts:1.1.2.0" schemaLocation="xsd/1.1.STS-2/GenerelleDefinitioner.xsd"/>
            <xsd:import namespace="urn:oio:sagdok:3.0.0" schemaLocation="xsd/common/SagDokObjekt.xsd"/>
            <xsd:import namespace="http://kombit.dk/xml/schemas/RequestHeader/1/"
                        schemaLocation="xsd/common/RequestHeader.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="AdresseImporterRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="type:ImportInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AdresseOpretResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="type:OpretOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AdresseLaesRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="type:LaesInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AdresseListeResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="type:ListOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AdressePassiverRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="type:PassiverInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AdresseSletRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="type:SletInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AdresseLaesResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="type:LaesOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AdresseRetResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="type:RetOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AdresseRetRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="type:RetInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AdresseImporterResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="type:ImportOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AdresseSoegResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="type:SoegOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AdresseOpretRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="type:OpretInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AdresseSletResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="type:SletOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AdressePassiverResponseMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="response" element="type:PassiverOutput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AdresseSoegRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="type:SoegInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AdresseListeRequestMessage">
        <wsdl:part name="header" element="header:RequestHeader"/>
        <wsdl:part name="request" element="type:ListInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="AdressePortType">
        <wsdl:operation name="opret">
            <wsdl:input message="tns:AdresseOpretRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:AdresseOpretResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="importer">
            <wsdl:input message="tns:AdresseImporterRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:AdresseImporterResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="passiver">
            <wsdl:input message="tns:AdressePassiverRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:AdressePassiverResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="laes">
            <wsdl:input message="tns:AdresseLaesRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:AdresseLaesResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ret">
            <wsdl:input message="tns:AdresseRetRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:AdresseRetResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="slet">
            <wsdl:input message="tns:AdresseSletRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:AdresseSletResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="soeg">
            <wsdl:input message="tns:AdresseSoegRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:AdresseSoegResponseMessage">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="list">
            <wsdl:input message="tns:AdresseListeRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:AdresseListeResponseMessage">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Adresse" type="tns:AdressePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <!--<wsp:PolicyReference URI="#ServicePortBindingPolicy"/>-->
        <wsdl:operation name="opret">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/adresse/opret"/>
            <wsdl:input>
                <soap:header message="tns:AdresseOpretRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:AdresseOpretResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="importer">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/adresse/importer"/>
            <wsdl:input>
                <soap:header message="tns:AdresseImporterRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:AdresseImporterResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="passiver">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/adresse/passiver"/>
            <wsdl:input>
                <soap:header message="tns:AdressePassiverRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:AdressePassiverResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="laes">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/adresse/laes"/>
            <wsdl:input>
                <soap:header message="tns:AdresseLaesRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:AdresseLaesResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ret">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/adresse/ret"/>
            <wsdl:input>
                <soap:header message="tns:AdresseRetRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:AdresseRetResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="slet">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/adresse/slet"/>
            <wsdl:input>
                <soap:header message="tns:AdresseSletRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:AdresseSletResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="soeg">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/adresse/soeg"/>
            <wsdl:input>
                <soap:header message="tns:AdresseSoegRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:AdresseSoegResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="list">
            <soap:operation soapAction="http://kombit.dk/sts/organisation/adresse/list"/>
            <wsdl:input>
                <soap:header message="tns:AdresseListeRequestMessage" part="header" use="literal"/>
                <soap:body parts="request" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Input_Policy"/>-->
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:AdresseListeResponseMessage" part="header" use="literal"/>
                <soap:body parts="response" use="literal"/>
                <!--<wsp:PolicyReference URI="#ServicePortBinding_ping_Output_Policy"/>-->
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Adresse">
        <wsp:PolicyReference URI="#ServiceplatformBindingPolicy"/>
        <wsdl:port name="Adresse" binding="tns:Adresse">
            <soap:address location="http://kombit.dk/sts/organisation/adresse"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
